        *{box-sizing: border-box;}
        body{margin: 0;}

        header, footer {
            background-color: rgb(91, 146, 218);
            color: rgb(255, 255, 255);
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav ul{
            list-style-type: none;
            background-color: rgb(247, 197, 218);
            margin: 0;
            overflow: hidden;

        }

        nav li a{
            float: left;
            text-decoration: none;
            display: block;
            color: white;
            padding: 20px;
        }

        nav li a:hover{
            background-color: rgb(211, 106, 171);
        }

        aside {
            width: 20%;
            float: left;
            padding: 5px;
        }

        section {
            width: 40%;
            float: left;
            padding: 5px;
        }

        article {
            width: 40%;
            float: left;
            padding: 5px;
        }
        footer {
            clear: both;
        }

        @media screen and (max-width:800px) {
            aside,
            section,
            article {
                width: 100%;
            }
        }
