image{
    border-radius: 50%;
    border: 3px solid #1e4bd1;
    box-shadow: 0 0 10px rgba(113, 123, 153, 0.5);
}

#info{
  text-align:center;
  line-height:12px;
}

body{
    border: #3a2f2f solid 3px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(58, 47, 47, 0.6);
    background: #170f0f;
    background: linear-gradient(179deg, rgba(23, 15, 15, 1) 18%, rgb(38, 18, 18) 66%, rgba(6, 2, 2, 0.84) 91%);
    color:#ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.buttom{
    text-align: center;
    margin-top: 20px;
    background-color: #0b0c0e;    
    padding: 15px;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(63, 3, 3, 0.6);
    border: 1px solid #0c0d0e;
    padding: 0;
   
}


nav{
    text-align: center;
    margin-bottom: 20px;

}

nav ul{

    background-color: #0b0c0e;    
    padding: 15px;
    border-radius: 12px;
    margin: 0 0 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    border: 1px solid #0c0d0e;
    padding: 0;
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 11px 21px;
    margin: 0.5px;
    transition: all 0.25s ease;
}

a{
    color: #a50707;
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    box-shadow: 0 4px 8px rgba(100, 13, 13, 0.6);
    border-radius: 12px;
    box-shadow: 0 0 12px #691013;
}


a:visited{
    color: rgb(255, 0, 0);
}

a:link{
    color: rgb(255, 0, 0);
}

a:active{
    color: rgb(117, 0, 18);
}


.social a{
    color: rgb(0, 94, 255);
}

.social a:active{
    color: rgb(77, 160, 219);
}



#cborder { width:100%; border-collapse:collapse; }
#cborder td{ border:2px solid #ece9e9; padding:8px; text-align: center; }


.h2style{
    color: #8e1620;
    text-align: center;
}

h4{
    color: #8e1620;
}